# {name} v{version}

<script>
  import Button from "./Button.svelte";

  const version = process.env.VERSION;
  const name = process.env.NAME;

  let count = 0;
</script>

<style>
  :global(*) {
    font-family: sans-serif;
  }
</style>

```html
<script>
  import Button from "./Button.svelte";

  let count = 10;
</script>
```

## {count}

<Button bind:count>Increment the count</Button>
